html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #505958;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: #333333;
    font-size: 29px;
    font-weight: 400;
}

a {
    color: #00a1c6;
    text-decoration: none;
    cursor: pointer;
}

.item-link {
    color: #505958;
}

a:hover,
.item-link:hover {
    text-decoration: underline;
}

header {
    background-color: #ECECEC;
    border-bottom: 1px dotted #979797;
    border-top: 5px solid #848484;
    display: flex;
    justify-content: center;
    height: 43px;
    width: 100%;
}

header img {
    position: absolute;
    top: 0;
}

.col {
    padding: 16px;
}

/* Apply margin-left to all columns except the first in the row */
.col > div:not(:first-of-type) {
    margin-left: 16px
}

.top h1 {
    margin: 0;
}

.top {
    margin: 60px 0 90px;
}

.purchases-container {
    margin: 0 auto;
    max-width: 975px;
}

.purchases-item {
    border: 1px solid #E8E8E8;
    margin-top: 50px;
    width: 100%;
}

.promo {
    border: 1px solid #E8E8E8;
    width: 265px;
}

.purchases-item-art img,
.purchases-item-date {
    width: 125px;
}

.purchases-item-shipping-address div {
    width: 220px;
}

.purchases-item-shipping-message div {
    width: 300px;
}

.purchases-item-price-details,
.purchases-item-total {
    width: 180px;
}

.purchases-item-download {
    text-align: right;
}

.purchases-item-status,
.purchases-item-shipping-details {
    margin-top: 20px;
}

/* Flexbox */
.flex {
    display: flex;
    display: -webkit-flex;
}

.flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.spread {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
