html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #505958;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: #333333;
    font-size: 29px;
    font-weight: 400;
}

a {
    color: #00a1c6;
    text-decoration: none;
    cursor: pointer;
}

.dark-link {
    color: #505958;
}

a:hover,
.item-link:hover {
    text-decoration: underline;
}

header {
    background-color: #ECECEC;
    box-shadow: inset 0 5px 0 0 #848484;
    border-bottom: 1px dotted #979797;
    width: 100%;
}
header img {
    display: block;
    margin: auto;
}

footer {
    background-color: #848484;
    margin-top: 100px;
    width: 100%;
}

footer img {
    display: block;
    margin: auto;
}

.col {
    padding: 16px;
}

/* Apply margin-left to all columns except the first in the row */
.col > div:not(:first-of-type) {
    margin-left: 16px;
}

.top h1 {
    margin: 0;
}

.top {
    margin: 60px 0 90px;
}

/* Promotion box */
.bc-app {
    border-radius: 3px;
    position: relative;
    border: 1px solid #E8E8E8;
    width: 335px;
}

.bc-app-art {
    width: 27px;
    height: 41px;
}

.bc-app-text {
    padding-top: 4px;
    width: calc(100% - 41px);
}

.bc-app-x {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    color: #BEBEBE;
    font-style: normal;
}

.container {
    margin: 0 auto;
    max-width: 975px;
    width: 100%;
}

.purchases-item {
    border: 1px solid #E8E8E8;
    margin-top: 50px;
    line-height: 19px;
    width: 100%;
}

.purchases-item:first-of-type {
    margin-top: 40px;
}

.purchases-item-art,
.purchases-item-date {
    width: 125px;
}

.purchases-item-shipping-address div {
    width: 220px;
}

.purchases-item-shipping-message div {
    width: 300px;
}

.purchases-item-price-details,
.purchases-item-total {
    width: 180px;
}

.purchases-item-title {
    line-height: 21px;
}

.purchases-item-download {
    text-align: right;
}

.purchases-item-status,
.purchases-item-shipping-details {
    margin-top: 20px;
}

.purchases-item-status-checkmark {
    padding-right: 1px;
}

.purchases-item-shipping-message {
    font-family: georgia, serif;
    font-style: italic;
}

.purchases-item-bottom-bar {
    border-top: 1px solid #E8E8E8;
}

.purchases-item-payment-details {
    font-size: 11px;
}

.purchases-item-transaction-ids span:not(:first-of-type) {
    padding-left: 8px;
}

/* Flexbox */
.flex {
    display: flex;
    display: -webkit-flex;
}

.flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.spread {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.hide {
    display: none;
}

.small {
    font-size: 10px;
}
